{% extends 'devices/base.html' %}

{% block content %}

<div class="header">
    <h1>SwitchBoard login</h1>
    <text align="center"><p>Ertine Django Project</p>
</div>

<div class="card" style="max-width: 420px;">
    {% if form.errors %}
        <div class="message error">
            Неверный логин или пароль.
        </div>
    {% endif %}

    <form method="post">
        {% csrf_token %}

        <div class="form-row">
            <label for="{{ form.username.id_for_label }}">Логин</label>
            {{ form.username }}
        </div>

        <div class="form-row">
            <label for="{{ form.password.id_for_label }}">Пароль</label>
            {{ form.password }}
        </div>

        <button class="btn btn-primary" type="submit">Войти</button>
    </form>
</div>

{% endblock %}